.menu-list {
    width: 224px;
}

.menu-popper {
    padding-bottom: 8px;
}

// Menu items
.menu-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
    margin-left: 0;
    border-radius: 0;
    padding: 11px 16px;
    background: none;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
